@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';
:root{
    --bs-body-font-family : 'Roboto','sans-serif'
}
pre[class*="language-javascript"] {
    white-space: pre-wrap; /* Wrap long lines */
    word-break: break-word;
    /* margin: auto !important;    */
    max-width: 90%; /* Fit within the container */
    
}
body{
    margin:5%;
}

.full-width-container {
    width: 100vw; /* Full viewport width */
    margin-left: calc(-50vw + 50%); /* Center it properly */
  }
  
  /* Ensure the 3D graph scales well */
  #mygraph {
    width: 100% !important;
    max-width: 100%;
     /* Default height */
  }

  ol li::marker {
     font-size: 1.5em; /* Adjust the number size */
    font-weight:bold;
  }

  ol.small li::marker {
    font-size: 1em ;  /* Adjust the number size */
    font-weight:bold;
  }

  ol.small {
    font-size: 1.1em;
  }
  pre[class*="language-"], code[class*="language-"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 1.2 !important; /* Reduces extra spacing from line-height */
    border: none !important; /* Some themes add unnecessary borders */
}
/* body {
  overflow-x: hidden;
} */