@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';
:root{
    --bs-body-font-family : 'Roboto','sans-serif'
}
pre[class*="language-javascript"] {
    white-space: pre-wrap; /* Wrap long lines */
    word-break: break-word;
    margin: auto !important;   
    max-width: 90%; /* Fit within the container */
    
}
